[submodule "links/.zsh/plugins/powerlevel10k"]
	path = links/.zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "links/.zsh/plugins/formarks"]
	path = links/.zsh/plugins/formarks
	url = https://github.com/wfxr/formarks.git
[submodule "links/.zsh/plugins/archive"]
	path = links/.zsh/plugins/archive
	url = https://github.com/romkatv/archive.git
[submodule "links/.zsh/plugins/zsh-completions"]
	path = links/.zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "links/.zsh/plugins/zsh-syntax-highlighting"]
	path = links/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "links/.zsh/plugins/zsh-autosuggestions"]
	path = links/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "links/.config/xmonad/xmonad-git"]
	path = links/.config/xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad.git
[submodule "links/.config/xmonad/xmonad-contrib-git"]
	path = links/.config/xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib.git
[submodule "links/.config/xmobar/xmobar-git"]
	path = links/.config/xmobar/xmobar-git
	url = https://github.com/jaor/xmobar.git
[submodule "links/.config/kitty/kitty_grab"]
	path = links/.config/kitty/kitty_grab
	url = https://github.com/yurikhan/kitty_grab
