links/.vim/volatile
links/.vim/autoload/plug.vim*
links/.vim/sessions
links/.zsh/volatile
links/.config/vifm/vifminfo*
links/.config/vifm/vifmimgpdf*
links/.config/nvim/plugin/packer_compiled.vim
# Override ~/.gitignore-global
!links/bin
links/bin/*archive
links/.config/mpv/*
!links/.config/mpv/*.conf

