links/.vim/volatile
links/.vim/autoload/plug.vim*
links/.vim/sessions
links/.zsh/volatile
links/.config/vifm/vifminfo*
packer_compiled.lua
# Override ~/.gitignore-global
!links/bin
links/bin/*archive
links/.config/mpv/*
!links/.config/mpv/*.conf
packages/emacs/config/emacs/eln-cache/*
