[include]
    # Validate: git config --global --includes user.email
    path = ~/.gitconfig-private
[core]
    excludesfile = ~/.gitignore-global
    autocrlf = input
[pull]
    rebase = false
[help]
    autocorrect = 1
[alias]
    cm = !git add -A && git commit -m
    prev = !git diff HEAD~1 HEAD
    url = "!f() { git remote -v | awk '/fetch/{print $2}' | sed -Ee 's#(git@|git://)#http://#' -e 's@com:@com/@' | head -n1; }; f"
    co = checkout
    gold = log --graph --pretty=mine --abbrev-commit --date=relative -n 10
[pretty]
  mine = %C(red)%h%Creset - %s %C(green)(%cr) %C(bold blue)<%an>%Creset
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
