# vim: ft=gitconfig
[include]
    # Validate: git config --global --includes user.email
    path = ~/.gitconfig-private
[core]
    excludesfile = ~/.gitignore-global
    editor = vim
    autocrlf = input
    pager = delta
[delta]
    plus-style = green bold ul "#eeffee"
    minus-style = red bold ul "#ffeeee"
    syntax-theme = igAnsi
    #side-by-side = true
    line-numbers = true
    features = decorations
[delta "decorations"]
    hunk-header-style = omit
[interactive]
    diffFilter = delta --color-only
[pull]
    rebase = false
[help]
    autocorrect = 1
[alias]
    cm = !git add -A && git commit -m
    prev = !git diff HEAD~1 HEAD
    url = "!f() { git remote -v | awk '/fetch/{print $2}' | sed -Ee 's#(git@|git://)#http://#' -e 's@com:@com/@' | head -n1; }; f"
    co = checkout
    gold = log --graph --pretty=mine --abbrev-commit --date=relative -n 10
[pretty]
  mine = %C(red)%h%Creset - %s %C(green)(%cr) %C(bold blue)<%an>%Creset
