#!/bin/sh

# Sourced by display manager and .xinitrc

userresources=$HOME/.Xresources
sysresources=/etc/X11/xinit/.Xresources

# merge in defaults and keymaps

if [ -f "${sysresources}" ]; then
    xrdb -merge "${sysresources}"
fi

if [ -f "${userresources}" ]; then
    xrdb -merge "${userresources}"
fi

currentThemeXResources=$HOME/.theme/currentTheme.Xresources
if [ -f "${currentThemeXResources}" ]; then
    xrdb -merge "${currentThemeXResources}"
fi

currentThemeXFonts=$HOME/.theme/currentTheme.Xfonts
if [ -f "${currentThemeXFonts}" ]; then
    xrdb -merge "${currentThemeXFonts}"
fi

