#!/bin/sh

userresources=$HOME/.Xresources
if [ -f "${userresources}" ]; then
    xrdb -merge "${userresources}"
fi

for f in $HOME/.theme/*.Xresources; do xrdb -merge "${f}"; done

currentThemeXFonts=$HOME/.theme/currentTheme.Xfonts
if [ -f "${currentThemeXFonts}" ]; then
    xrdb -merge "${currentThemeXFonts}"
fi

