XTerm.termName: xterm-256color
XTerm.vt100.saveLines: 4096
XTerm.SimpleMenu*font: -*-terminus-medium-*-*-*-16-*-*-*-*-*-*-*
XTerm.SimpleMenu.menuLabel.font: -*-terminus-medium-*-*-*-16-*-*-*-*-*-*-*
XTerm*vt100.selectToClipboard: true
XTerm.alternateScroll: true
XTerm.vt100.metaSendsEscape: true
! Be consistent when connecting to other machines (SSH)
XTerm.metaSendsEscape: true
XTerm.utf8: 1
XTerm.scrollLines: 5
XTerm.disallowedWindowOps: 20,21,SetXprop
XTerm.selectToClipboard: true
