XTerm.termName: xterm-256color
XTerm.vt100.saveLines: 4096
XTerm*vt100.faceName: "DejaVuSansMono Nerd Font Mono":style=Book:size=13
XTerm*vt100.boldFont: "DejaVuSansMono Nerd Font Mono":style=Bold:size=13
XTerm.vt100.selectToClipboard: true
XTerm.alternateScroll: true
